@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$padding:1em;
$icon-size:50px;

html, body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #0099ff 0%, #cc99ff 100%); 
}
.container{
   width: 70%;
   margin: 15px auto 0 auto;
} 
.header-h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 56px;
    color: #fff;
    font-weight: 700;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    #search{
        width: 100%;
        max-width: 300px;
        padding: 5px 10px;
        border: black;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 600;
    }
    .error-message {
        color: red;
        font-size: 18px;
        display: none;
    }

    &.error {
        #search {
            border: 3px solid red;
        }
        .error-message {
            display: block;
        }
    }
}
.form-group{
    .style-error{
        margin: 5rem auto;
        font-size: 30px;
        color: white;
}}
#btn {
    display: flex;
    margin: 20px auto;
    width: 100%;
    max-width: 200px;
    background-color: #0064ff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    &:hover{
        background-color: #2331b2;
    }
}
.search-feedback {
    color: #fff;
    font-size: 14px;
    padding: 8px 2px 0 1px;
}
.main{
    max-width: 600px;
    margin: 0 auto;
    color: #fff;

}
#icon{
    width: 80px;
    height: 60px;
    background-size: 80px;
 
}
.info-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: $padding*2;
    margin-bottom: $padding*2;
    p{
        margin: 10px;
    }
}
#city{
    font-size: 3em;
}
#description{
    font-size: 1.5em;
}
#temp{
    font-size: 4em;
}
.det-inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    &__icon{
        width: $icon-size;
        height: $icon-size;
    }
    .pad{
        margin: 10px auto 10px auto;
    }
}
.detail__time{
    font-size: 1.5em;
}
.detail__temp {
    font-size: 2em;
}
.icon__01d, .icon__02d, .icon__03d, .icon__04d, .icon__09d, .icon__10d, .icon__13d, .icon__11d, .icon__50d, .icon__01n, .icon__02n, .icon__03n, .icon__04n, .icon__09n, .icon__10n, .icon__13n, .icon__11n, .icon__50n{
  background-size: $icon-size;
  background-repeat: no-repeat;
}
.icon__01d, .icon__01n{
  background-image: url("../img/01d.png");
}
.icon__02d, .icon__02n {
    background-image: url("../img/02d.png");
  }
.icon__03d, .icon__03n {
    background-image: url("../img/03d.png");
  }
.icon__04d, .icon__04n {
    background-image: url("../img/04d.png");
  }
.icon__09d, .icon__09n {
    background-image: url("../img/09d.png");
  }
.icon__10d, .icon__10n {
  background-image: url("../img/10d.png");
}
.icon__11d, .icon__11n {
    background-image: url("../img/11d.png");
  }
.icon__13d, .icon__13n  {
    background-image: url("../img/13d.png");
  }
.icon__50d, .icon__50n {
    background-image: url("../img/50d.png");
  }
  .lds-roller {
    display: inline-block;
    width: 110px;
    height: 80px;
    display: flex;
    margin: 20px auto 0 auto;;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .table-block{
    display: flex;
    justify-content: center;
    #table-icon{
      img{
        width: 35px;
        margin: 0 5px;
      }
    }
    #table-text, .table-resalt{
      font-size: 16px;
      color: #fff;
      margin: 0 5px;
    }
    .table-resalt{
      font-size: 20px;
    }
  }
  .table-information{
    display: flex;
    align-items: center;
  }